* {
    margin: 0%;
    padding: 0%;
}
.title {
    font-size: 30px;
    text-align: center;
}
body {
    margin: 0px;
    padding: 0;
    list-style: none;
    font-size: 1.2em;
    font-family: 'Source Code Pro', monospace;
    background: url(Fotos\ projeto/fundo1.jpg)no-repeat top center;
    background-attachment:fixed;
    /* backgound fixo */
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 1200px;

}
.box {
    background:#585959af ;
    padding: 4rem;
    box-shadow: 20px 2px 20px rgba(0, 0, 0, 0.329);
    border-radius: 50px;
    text-align: center;
    padding: 50px 40px 40px 64px;
    
}
.perfil {
    border-radius: 50%;
    margin-top: 1px;
    max-width: 250px;
}
.box  h1 {
    padding-top: 50px;
    padding-bottom: 10px;
}
.icons {
    list-style: none;
    /*retira as bolinhas das listas*/
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.icons li {
    margin-right: 1rem;

}
.card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    margin: 100px;
}
.card  div {
    margin: 8rem 0;
    background:#585959af;
    border-radius: 50px;
    width: 500px;
    height: 300px;
    text-align: center;
    padding: 10px;
}
.card  div  h1 {
    text-align: center;
    padding: 10px 0 50px;
}
.card  ul  li {
    list-style: none;
    text-align: center;
}
.card li:hover {
    color: gray;
}